body{
    background-color: #0B2545;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
video{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 90vh;
    object-position: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #eef4ed7a;
}
button{
    transition-duration: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #134074;
    color: #EEF4ED;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2.5%;
    box-shadow: 2px 2px 2px #eef4ed7a;
}
button:hover{
    background-color: #EEF4ED;
    color: #134074;
}

#step1, #step2, #step3, #step4, #step5, #step6, #step7, #step8, #step9{
    display: none;
}

h1{
    color: #EEF4ED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    text-align: center;
}
#note{
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #EEF4ED;
    margin: 25px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: #EEF4ED;
}
.small{
    font-size: 2.5em;
    margin-left: 10px;
    margin-right: 10px;
}
.tiny{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
img{
    margin-left: 25px;
}

#step0{
    display: none;
}
#step1{
    display: none;
}
#step2{
    display: none;
}
#step3{
    display: none;
}
#step4{
    display: none;
}
#step5{
    display: none;
}
#step6{
    display: none;
}
#step8{
    display: none;
}
#step9{
    display: none;
}

#step7{
    display: block;
}